html {
    background: slategrey;
}

#title {
    text-align: center;
}

ul {
    text-align: center;
    list-style: none;
}
.navList {
    text-align: center;
    list-style: none;
    display: inline;
    padding: 7px;
    border: solid black 1px;
    border-radius: 20px;
    margin: 5px;
}

img {
    height: 350px;
    width: 350px;
    border-radius: 40px;
}

#nav1 {
    background-color: #000807;
}

#nav1 a {
    color: whitesmoke;
    text-decoration: none;
}

#nav2 {
    background-color: #0073B1;
}

#nav2 a {
    color: whitesmoke;
    text-decoration: none;
}

#nav3 {
    background-color: tan;
}

#nav3 a {
    color: whitesmoke;
    text-decoration: none;
}

#section1 {
    display: flex;
    padding: 20px;
}

#section2 {
    display: flex;
    padding: 20px;
}

#section3 {
    display: flex;
    padding: 4px;
}

#section3 a {
    color: whitesmoke;
    text-decoration: none;
    font-size: x-large;
}

#section3 img {
    z-index: 1;
}

span {
    color: #B77D00;
}

#heading3 {
    padding-bottom: 15px;
}

p {
    flex-wrap: wrap;
    margin: 20px;
    font-size: 20px;
    z-index: 0;
    text-align: left;
}